<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to langtyper</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/bootstrap/css/bootstrap-theme.min.css" %}
    {% style "/css/screen.css" %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.11.0/bootstrap-social.min.css">

  </head>
  <body>
      <!-- navbar -->
      <div id="navbar">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle"
                            data-target="#app-navbar"
                            data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{servlet-context}}/" class="navbar-brand">langtyper</a>
                </div>
                <div id="app-navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li {% ifequal page "home.html" %} class="active"{%endifequal%}>
                        <a href="{{servlet-context}}/">Home</a>
                        </li>
                        <li {% ifequal page "about.html" %} class="active"{%endifequal%}>
                        <a href="{{servlet-context}}/about/">About</a>
                        </li>
                    </ul>
      <ul class="pull-right nav">
      <li>
    {% if not authenticated %}
               <a id="log" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=0ec7d46ad5dd940274ee" class="btn btn-block btn-social btn-github">
               <span class="fa fa-github"></span>......Sign in with GitHub</a>
    {%endif%}
    {% if authenticated %}
               <a id="log" href="/logout" class="btn btn-block btn-social btn-github">
               <span class="fa fa-github"></span>......Logout</a>
    {%endif%}
</li>
      </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/assets/bootstrap/js/collapse.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    <script type="text/javascript" src="/js/main1.js"></script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
