  <div id="logo">
    <h1>Langtyper</h1>
  </div>

  <div class="menu navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a  href="#/">Home</a></li>
        <li><a  href="#/races">Get races</a></li>
      </ul>
      <ul class="pull-right nav">
               <a id="log" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=0ec7d46ad5dd940274ee" class="btn btn-block btn-social btn-github">
               <span class="fa fa-github"></span>......Sign in with GitHub</a>
    </div>
  </div>
    
<button type="button" id="get-race" class="btn btn-primary">Get race</button>
    <button type="button" id="leave-race" class="btn btn-info">Leave race</button>
<hr>
<pre><%= track %></pre>
